@font-face {
  font-family: "digital-7";
  src: url("./Fonts/clock-master/clock-master/fonts/digital-7.ttf");
}

body {
  font-family: "digital-7";
  margin: 0px;
  /* background: linear-gradient(#301934, rgb(105, 16, 105)); */
  background: radial-gradient(circle at center, #301934, rgb(105, 16, 105));
  /* background-color: rgb(105, 23, 105); */
  height: 100vh;
}

.buttons {
  /* background-color: yellow; */
  position: relative;
  top: 45px;
  text-align: center;
}

.buttons button:hover {
  background-color: #7d218e;
  color: grey;
}

.buttons button {
  background-color: #800080;
  font-family: Calibri, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  width: 250px;
  height: 55px;
  text-size-adjust: none;
  font-size: 28px;
  margin: 35px;
}

.timer {
  position: relative;
  top: 35px;
}

.timer p {
  color: white;
  text-align: center;
  font-size: 45px;
}

.totalHours button:hover {
  background-color: #7d218e;
  font-weight: 700;
}

.totalHours {
  position: relative;
  top: 150px;
  text-align: center;
}

.totalHours button {
  background-color: #4b0082;
  font-size: 28px;
  border-radius: 5px;
  width: 250px;
  height: 55px;
  font-family: Calibri;
}

.hours {
  position: relative;
  font-size: 18px;
  top: 100px;
  font-family: "Calibri", Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
}

.hours td,
.hours th {
  border: 1px solid #ddd;
  padding: 8px;
}

.hours tr:nth-child(even) {
  background-color: #7d218e;
}

.hours tr:hover {
  background-color: black;
}

.hours th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

#totalHoursH1 {
  color: grey;
  font-family: Calibri;
  margin-top: 50px;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif, Courier, monospace; */
}

.backBtn {
  position: relative;
  top: 25px;
  left: 105px;
}

.backBtn button {
  font-family: Calibri;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
}

.backBtn button:hover {
  color: white;
  background-color: #301934;
}

.totalAmount {
  color: black;
  position: relative;
  top: 250px;
  text-align: center;
  font-family: Calibri;
}

@media (max-width: 500px) {
  .backBtn {
    position: relative;
    text-align: center;
    top: 25px;
    left: unset;
  }
  .hours {
    width: 75%;
    top: 25px;
  }
}
